html {
	font-size: 16pt;
}

#instantclick {
	display: none;
}

body {
	font-family: 'Tahoma', 'Arial', 'DejaVu Sans', sans-serif;
	margin: 50px 25px;
	background-color: #606b7a;
}

body,td,th,div,p {
	font-size: 1em;
	line-height: 1.4em;
}

a {
	color: #2a99b6;
}

a:hover {
	color: #33bbdf;
}

header, footer, div.page {
	width: 1200px;
	margin: 0 auto;
	background: #fff;
	padding: 20px 30px;
}

header h1 {
	color: #169bbd;
	margin: 0;
	font-weight: normal;
	font-size: 2.6em;
	line-height: 1.4em;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: -8px;
}

header nav ul li a {
	padding: 4px 8px 4px 8px;
	display: inline-block;
}

header nav ul li {
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

header nav ul li.active a {
	background-color: #2a99b6;
	color: #fff;
}

div.page {
	background: #f5fbff;
}

div.page p {
	font-family: 'Tahoma', 'Arial', 'DejaVu Sans', sans-serif;
}

footer {
	color: #555;
}
