html {
	font-size: 16pt;
}

#instantclick {
	display: none;
}

body {
	font-family: "Bitter", "Georgia", "Liberation Serif", "Times New Roman", "Nimbus Roman", "DejaVu Serif", serif;
	margin: 50px 25px;
	background-color: #606b7a;
	background-image: url('/static/images/background.png');
}

body,td,th,div,p {
	font-size: 1em;
	line-height: 1.4em;
}

a {
	color: #2b6495;
}

a:hover {
	color: #1e75c0;
}

header h1 a {
	color: #2b6495;
	text-decoration: none;
}

header h1 a:hover {
	text-decoration: underline;
}

header, footer, div.page {
	width: 1200px;
	margin: 0 auto;
	background: #fff;
	padding: 20px 30px;
}

header h1 {
	color: #169bbd;
	margin: 0;
	font-size: 2.6em;
	line-height: 1.4em;
	font-weight: bold;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: -8px;
}

header nav ul li a {
	padding: 4px 8px 4px 8px;
	display: inline-block;
}

header nav ul li {
	display: inline;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

header nav ul li.active a {
	background-color: #2b6495;
	color: #fff;
}

div.page {
	background: #f5fbff;
}

div.page p {
	line-height: 25pt;
	color: #333;
}

footer {
	color: #555;
}

/* хлебные крошки */
ul.breadcrumb { padding: 0px; list-style: none; }
ul.breadcrumb li { display: inline; }
ul.breadcrumb li+li:before { padding: 8px; color: #cb635b; content: "/\00a0"; }
ul.breadcrumb li a { text-decoration: underline; }
ul.breadcrumb li a:hover { color: #01447e; text-decoration: underline; }
ul.breadcrumb h2 { display: inline; font-size: 18pt; }

/* подсвеченный текст */
span.highlight { background-color: #ffed76; }

h1,h2,h3,h4 {
	color: #444;
	font-weight: normal;
}
